<h1><%= @beer_to_view.beer_name %></h1>

<p>Average rating for <%= @beer_to_view.beer_name %> is <%= @average %></p>

<table>
  <tr border="1">
    <td width="300"><h3>User Name</h3></td>
    <td width="75"><h3>Rating</h3></td>
  </tr>
  <% @beer_ratings.each do |rating| %>
    <tr>
      <td><%= rating["user_name"] %></td>
      <td><%= rating["rating"] %></td>
    </tr>
  <% end %>
  <tr>
    
</table>

<ul>
  <li><a href="beers_menu">Beer menu</a></li>
  <li><a href="/homepage">Homepage</a></li>
</ul>